.right-side{
    margin-top:5%;
    position:fixed
}

.title{
    font-size: 36px;
    Font-family: Calisto MT, Bookman Old Style, Bookman, Goudy Old Style, Garamond, Hoefler Text, Bitstream Charter, Georgia, serif;   
}

.name{
    font-size:20px;
    Font-family:  Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.userName{
    Font-family:  Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#74767e
}

.clock{
   size: 9px;
}

