<app-navbar></app-navbar>

<div class="ml-80 mr-80 mt-20 ">
    <div class="grid grid-cols-2">
        <div class="col-span-8 mr-96">
            <div class=" cols-span-12 ">
                <h1 class="title w-full">{{gigData.title}}</h1>
            </div>
            <div class="col-span-4 my-5">
             
                 
              
      
                <a *ngIf="userIsFreelancer===false" class="cursor-pointer my-8" (click)="chat()">
                    <div class="flex cols-span-4 ">
                        <img *ngIf="gigData.freelancerId.profilePic" src={{gigData.freelancerId.profilePic}}
                        class="rounded-full w-24 h-24 " alt="User avatar"  >
                      
                        <img *ngIf="!gigData.freelancerId.profilePic" src="../../../../../assets/img/default-user-image.svg"
                        class="rounded-full w-24 h-24" alt="User avatar"  >
                      <div class="py-8 px-5">
                        <h1 class="name font-bold">{{gigData.freelancerId.name}}<span
                            class="userName font-thin  text text-">
                            @{{gigData.freelancerId.userName}}</span></h1>
                      </div>
                       
                    </div>
                </a>
            </div>
            <div class="col-span-4 my-10 h-90">
                <img class="w-auto h-full" [src]="gigData.images">
            </div>
            <div class="col-span-2">

            </div>
         
            <div class="col-span-2 my-10">
                <h1 class="name font-bold ">About this gig</h1>
                <div class="col-span-4 ">
                    <h3>{{gigData.description}}</h3>
                </div>  
            </div>

          
            <div class="col-span-2">
                <h1 class="name font-bold ">About the freelancer</h1>
                <div class="col-span-4 ">
                    <a *ngIf="userIsFreelancer===false" class="cursor-pointer my-8" (click)="chat()">
                        <div class="flex cols-span-4 ">
                            <img *ngIf="gigData.freelancerId.profilePic" src={{gigData.freelancerId.profilePic}}
                            class="rounded-full w-24 h-24 " alt="User avatar"  >
                          
                            <img *ngIf="!gigData.freelancerId.profilePic" src="../../../../../assets/img/default-user-image.svg"
                            class="rounded-full w-24 h-24" alt="User avatar"  >
                          <div class="py-8 px-5">
                            <h1 class="name font-bold">{{gigData.freelancerId.name}}<span
                                class="userName font-thin  text text-">
                                @{{gigData.freelancerId.userName}}</span></h1>
                          </div>
                         
                       
                        </div>
                        <div class="my-4">
                            <button *ngIf="userIsFreelancer===false"
                            class="border border-black  mx-4 hover:bg-gray-500 hover:text-white hover:border-gray-500 text-black font-bold py-2 px-4 "
                            (click)="chat()">Contact me
                        </button>
                           </div>
                    </a>
                    

<div class="grid mb-8 border border-gray-200 rounded-lg shadow-sm md:mb-12 md:grid-cols-2">
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-tl-lg md:border-r">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
            <h3 class="text-lg font-semibold text-gray-900">From</h3>
            <p class="my-4">{{gigData.freelancerId.city}} <span>,</span>{{gigData.freelancerId.country}} </p>
        </blockquote>
          
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-tr-lg">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
            <h3 class="text-lg font-semibold text-gray-900">Member Since</h3>
            <p class="my-4">{{gigData.freelancerId.dateOfJoin|date}}</p>
        </blockquote>
         
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-tl-lg md:border-r">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
            <h3 class="text-lg font-semibold text-gray-900">Languages</h3>
            <div  *ngFor="let item of freelancerData.languages">
               
            <p class="my-4">{{item[0]}} </p>
            </div>
            
        </blockquote>
          
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-tr-lg">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
            <h3 class="text-lg font-semibold text-gray-900">Member Since</h3>
            <p class="my-4">{{gigData.freelancerId.dateOfJoin|date}}</p>
        </blockquote>
         
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-bl-lg md:border-b-0 md:border-r">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
            <h3 class="text-lg font-semibold text-gray-900">Mindblowing workflow</h3>
            <p class="my-4">Aesthetically, the well designed components are beautiful and will undoubtedly level up your next application."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center space-x-3">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="profile picture">
            <div class="space-y-0.5 font-medium dark:text-white text-left">
                <div>Jese Leos</div>
                <div class="text-sm text-gray-500">Software Engineer at Facebook</div>
            </div>
        </figcaption>    
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-gray-200 rounded-b-lg md:rounded-br-lg">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
            <h3 class="text-lg font-semibold text-gray-900">Efficient Collaborating</h3>
            <p class="my-4">You have many examples that can be used to create a fast prototype for your team."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center space-x-3">
            <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png" alt="profile picture">
            <div class="space-y-0.5 font-mediumtext-left">
                <div>Joseph McFall</div>
                <div class="text-sm text-gray-500">CTO at Google</div>
            </div>
        </figcaption>    
    </figure>
</div>


                </div>  
            </div>

            <div *ngFor="let item of gigData.reviews">
                <article>
                    <div class="flex items-center mb-4 space-x-4">
                        <img class="w-10 h-10 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="">
                        <div class="space-y-1 font-medium dark:text-white">
                            <p>Jese Leos <time datetime="2014-08-16 19:00"
                                    class="block text-sm text-gray-500 dark:text-gray-400">Joined on August 2014</time>
                            </p>
                        </div>
                    </div>
                    <div class="flex items-center mb-1">
                        <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4 text-gray-300 dark:text-gray-500 mr-1" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>

                    </div>
                    <footer class="mb-5 text-sm text-gray-500 dark:text-gray-400">
                        <p>Reviewed in the United Kingdom on <time datetime="2017-03-03 19:00">March 3, 2017</time></p>
                    </footer>
                    <p class="mb-2 text-gray-500 dark:text-gray-400">{{item.message}}</p>

                    <aside>
                        <p class="mt-1 text-xs text-gray-500 dark:text-gray-400">19 people found this helpful</p>

                    </aside>
                </article>
            </div>

        </div>
        <div class="col-span-2 ml-60 mt-20 w-full  fixed">
            <div class="flex flex-col mx-auto max-w-lg text-center  bg-white -lg border border-gray-300 ">
                <div class="grid grid-cols-3 text-gray-400 bg-gray-50">
                    <div class="border border-gray-300"
                        [ngClass]="{' border-b-4 border-b-black text-black bg-white ':selectedType == priceType.basic}">
                        <h3 class="my-3 text-2xl font-semibold   cursor-pointer" (click)="basicPricing()">Basic</h3>
                    </div>
                    <div class="border border-gray-300"
                        [ngClass]="{' border-b-4 border-b-black text-black bg-white ':selectedType == priceType.standard}">
                        <h3 class="my-3  text-2xl font-semibold  cursor-pointer" (click)="standardPricing()">Standard
                        </h3>
                    </div>
                    <div class="border border-gray-300"
                        [ngClass]="{' border-b-4 border-b-black text-black bg-white ':selectedType == priceType.premium }">
                        <h3 class="my-3  text-2xl font-semibold  cursor-pointer" (click)="premiumPricing()">Premium</h3>
                    </div>

                </div>

                <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400"></p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">₹{{this.pricing}}</span>

                </div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left p-6">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-14" src="../../../../../assets/img/clock.png">
                        <span>Delivery Time: <span class="font-semibold">{{this.deliveryTime}}</span></span>
                    </li>

                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <img class="w-12 ml-3 mt-3" src="../../../../../assets/img/revision.png">
                        <span>Revisions: <span class="font-semibold">{{this.revisions}}</span></span>
                    </li>

                </ul>

                <button *ngIf="userIsFreelancer===false"
                    class="border border-black  mx-4 hover:bg-gray-500 hover:text-white hover:border-gray-500 text-black font-bold py-2 px-4 "
                    (click)="chat()">Contact me
                </button>

                <button *ngIf="userIsFreelancer===false" (click)="toGigConfirm()"
                    class=" m-4 bg-black hover:bg-gray-800 text-white font-bold py-2 px-4 ">Continue
                </button>
            </div>

        </div>


    </div>

</div>