<app-freelancer-navbar></app-freelancer-navbar>

<div class="grid grid-cols-6 p-6 space-y-6">
   <div class="col-span-4 ">

    <ol class="relative border-l border-gray-200">                  
        <li class="mb-10 ml-6">            
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white">
                <svg class="w-2.5 h-2.5 text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900">Order created </h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400">{{orderData.date|date}}</time>
            
        </li>
        <li class="mb-10 ml-6" *ngFor="let revision of orderData.revisionData;let i=index">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white">
                <svg class="w-2.5 h-2.5 text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 *ngIf="i==0" class="mb-1 text-lg font-semibold text-gray-900">Order Placed</h3>
            <h3 *ngIf="i!=0" class="mb-1 text-lg font-semibold text-gray-900">Revision {{i}}</h3>
               <div> <time class="block mb-2 text-sm font-normal leading-none text-gray-400">{{revision.date|date}}</time></div> 
            <ng-container *ngFor="let files of revision.revisionFiles;let j=index"><a href={{files}} target="_blank"><button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">File {{j+1}}</button></a></ng-container>
             
           

             <div class="p-3 text-xs italic font-normal text-gray-500 border border-gray-200 rounded-lg bg-gray-50 w-fit">{{revision.revisionDescription}}</div>
            
            
            <div *ngIf="revision.userNote" class="p-4 my-3 bg-white border border-gray-200 rounded-lg shadow-sm w-fit">
                <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white">
                    <img class="rounded-full shadow-lg" />
                </span>
                <div class="items-center justify-between  sm:flex">
                   
                    
                    <div class="text-sm  font-normal text-gray-500 flex">User requested review  </div>
                    
                </div>
                <div class="my-2"><time class="mb-1  text-xs font-normal text-gray-400 sm:order-last sm:mb-0">{{revision.date|date}}</time></div>
                <div class="p-3  text-xs italic font-normal text-gray-500 border border-gray-200 rounded-lg bg-gray-50">{{revision.userNote}}</div>
            </div>
        </li>
        <li class="ml-6" *ngIf="(orderData.revisionCount == 0 || orderData.revisionData[orderData.revisionData.length-1].userNote) && orderData.completed==false">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white">
                <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>

              <a (click)="openModal()"  class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700"><svg class="w-3.5 h-3.5 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
              </svg>  Deliver Your Work</a>
        </li>
    </ol>
    
   </div>
    <div class="col-span-2">
        <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-gray-700 ">
            <div
                class="relative m-0 w-2/5 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
                <img *ngIf="orderData.gigId.images" src={{orderData.gigId.images[0]}} alt="image"
                    class=" w-full object-cover rounded-lg" />
            </div>
            <div class="p-6">

                <h4
                    class="mb-2 block font-sans text-2xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    {{orderData.gigId.title}}
                </h4>
                <div *ngIf="orderData.completed===false">
                    <button 
                        class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-red-700 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300">
                        {{orderData.completed|orderStatus}}

                    </button>
                </div>
                <div *ngIf="orderData.completed===true">
                    <button
                        class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-green-700 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 ">
                        {{orderData.completed|orderStatus}}

                    </button>
                </div>
               
            </div>

        </div>


        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Plan
                        </th>

                        <th scope="col" class="px-6 py-3">
                            {{orderData.plan}}
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            Delivery Time
                        </th>

                        <td class="px-6 py-4">
                            {{orderData.deliveryTime}}
                        </td>

                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            Revisions
                        </th>
                        <td class="px-6 py-4">
                            {{orderData.revision}}
                        </td>


                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            Price
                        </th>
                        <td class="px-6 py-4">
                            {{orderData.price}}
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>