<app-navbar></app-navbar>



    <div class="container mx-auto">
        <div class="flex flex-col space-y-6">
            <form  [formGroup]="userEdit" class="w-full">
                <div class="bg-white shadow-md rounded-lg p-6">
                    <label  for="forImage"  class="text-center cursor-pointer" >
                        <input id="forImage" type="file" (change)="onImageSelected($event)" hidden>
                        <img *ngIf="profileImage" src={{previewUrl}}
                        class="rounded-full w-24 h-24 mx-auto" alt="User avatar"  >
                        <img  *ngIf="(user$|async)?.profilePic && !previewUrl" src={{(user$|async)?.profilePic}}
                        class="rounded-full w-24 h-24 mx-auto" alt="User avatar"  >
                        <img *ngIf="!(user$|async)?.profilePic" src="../../../../assets/img/default-user-image.svg"
                            class="rounded-full w-24 h-24 mx-auto" alt="User avatar"  >
                    </label>
                </div>
                <div class="bg-white shadow-md rounded-lg p-6 mt-6">
                    <h4 class="text-xl font-semibold mb-4">User info</h4>
                    <div class="space-y-4">
                        <div class="flex items-center">
                            <label class="w-2/12">Name</label>
                            <input [placeholder]="(user$|async)?.name" formControlName="name" type="text" class="w-10/12 p-2 border rounded" />
                            <div *ngIf="nameExistError===true">
                                <p  class="text-red-500">Name Exists.
                                
                              </div>
                        </div>
                        <div class="flex items-center">
                            <label class="w-2/12">User Name</label>
                            <input [placeholder]="(user$|async)?.userName" formControlName="userName" type="text" class="w-10/12 p-2 border rounded" />
                            <div *ngIf="userNameExistError===true">
                                <p  class="text-red-500">Username Exists.
                                
                              </div>
                        </div>
                      
                       
                        <div class="flex items-center">
                            <label class="w-2/12">City</label>
                            <input [placeholder]="(user$|async)?.city" formControlName="city" type="text" class="w-10/12 p-2 border rounded" />
                        </div>
                       
                    </div>
                </div>
               
                <div class="bg-white shadow-md rounded-lg p-6 mt-6">
                    <!-- <h4 class="text-xl font-semibold mb-4">Security</h4> -->
                    <div class="space-y-4">
                        <!-- <div class="flex items-center">
                            <label class="w-2/12">Current password</label>
                            <input placeholder="***********" type="password" class="w-10/12 p-2 border rounded" />
                        </div>
                        <div class="flex items-center">
                            <label class="w-2/12">New password</label>
                            <input type="password" class="w-10/12 p-2 border rounded" />
                        </div> -->
                        
                        <div class="flex justify-end space-x-4">
                            <button type="submit" class="btn btn-primary" (click)="patchForm()">Submit</button>
                            <button type="reset" class="btn btn-default" routerLink="/userProfile">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
