<app-navbar></app-navbar>



    <div class="container mx-auto">
        <div class="flex flex-col space-y-6">
            <form  [formGroup]="userEdit" class="w-full">
                <div class="bg-white shadow-md rounded-lg p-6">
                    <label  for="forImage"  class="text-center cursor-pointer" >
                        <input id="forImage" type="file" (change)="onImageSelected($event)" hidden>
                        <img *ngIf="profileImage" src={{previewUrl}}
                        class="rounded-full w-24 h-24 mx-auto" alt="User avatar"  >
                        <img  *ngIf="(user$|async)?.profilePic && !previewUrl" src={{(user$|async)?.profilePic}}
                        class="rounded-full w-24 h-24 mx-auto" alt="User avatar"  >
                        <img *ngIf="!(user$|async)?.profilePic" src="../../../../assets/img/default-user-image.svg"
                            class="rounded-full w-24 h-24 mx-auto" alt="User avatar"  >
                    </label>
                </div>
                <div class="bg-white shadow-md rounded-lg p-6 mt-6">
                    <h4 class="text-xl font-semibold mb-4">User info</h4>
                    <div class="space-y-4">
                        <div class="flex items-center">
                            <label class="w-2/12">Name</label>
                            <input [placeholder]="(user$|async)?.name" formControlName="name" type="text" class="w-10/12 p-2 border rounded" />
                            <div *ngIf="nameExistError===true">
                                <p  class="text-red-500">Name Exists.
                                
                              </div>
                        </div>
                        <div class="flex items-center">
                            <label class="w-2/12">User Name</label>
                            <input [placeholder]="(user$|async)?.userName" formControlName="userName" type="text" class="w-10/12 p-2 border rounded" />
                            <div *ngIf="userNameExistError===true">
                                <p  class="text-red-500">Username Exists.
                                
                              </div>
                        </div>
                      
                       
                        <div class="flex items-center">
                            <label class="w-2/12">City</label>
                            <input [placeholder]="(user$|async)?.city" formControlName="city" type="text" class="w-10/12 p-2 border rounded" />
                        </div>
                       
                    </div>
                </div>
               
                <div class="bg-white shadow-md rounded-lg p-6 mt-6">
                    <h4 class="text-xl font-semibold mb-4">Security</h4>
                    <div class="space-y-4">
                        <div class="flex items-center">
                            <label class="w-2/12">Current password</label>
             
                            <input placeholder="***********" type="password" class="w-10/12 p-2 border rounded" />
                            
                        </div>
                      <div class="flex items-center">
                            <label class="w-2/12"></label>
                            <a routerLink="/changePassword" class="w-1.5/12 p-2  focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900" >Change Password</a>
                        </div> 
                        
                        <div class="flex justify-end space-x-4">
                            <button type="reset" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" routerLink="/userProfile">Cancel</button>
                            <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" (click)="patchForm()">Submit</button>
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
