.gradient-text {
    
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #42a5f5, #4caf50); /* Replace with your desired gradient colors */
  }