<app-navbar></app-navbar>



<div class="w-full flex justify-center">

    <div class="grid grid-cols-6 gap-3 justify-center w-3/4">

        <div class="col-span-1 h-20 shadow rounded-sm ">

        </div>
        <div class="col-span-5 ">
           
            <div class="grid grid-cols-6 gap-2" >
                <div class="col-span-2 rounded-md  shadow" *ngFor="let gig of gigs">
                    <a class="cursor-pointer" (click)="toGigPage(gig._id)"><div>
                        <img [src]="gig.images[0]">
                    </div>
                </a>
                    <h3>{{gig.freelancerId.userName}}</h3>
                    <h3></h3>
                    <h3>Rating<span></span></h3>
                    <h3>From<span>{{gig.basicPrice}}</span></h3>
                </div>


            </div>
   
        </div>
        <div class="col-span-1 h-20 shadow rounded-sm ">

        </div>
    </div>
</div>