
.topHeading{
    font-family: 'Marcellus', serif;
    font-size: 80px;
    color:#14a800
}


.image{
    color:#404145
}

.heading{
    color:#404145
}

.listHeading{
    color:#404145
}


.paragrapgh{
    color:#404145
}