
<app-navbar></app-navbar>
<section class="carousel-section py-8">
    <div class="container mx-auto">
      <!-- Add your carousel content here -->
      <h2 class="text-2xl font-bold mb-4">Carousel Section</h2>
      <div class="carousel-container">
        <!-- Add your carousel items here -->
        <div class="carousel-item bg-gray-300 h-40 rounded-lg"></div>
        <div class="carousel-item bg-gray-300 h-40 rounded-lg"></div>
        <div class="carousel-item bg-gray-300 h-40 rounded-lg"></div>
        <!-- Add more carousel items as needed -->
      </div>
    </div>
  </section>

  <!-- Categories Section -->
  <section class="categories-section py-8">
    <div class="container mx-auto">
      <!-- Add your categories content here -->
      <h2 class="text-2xl font-bold mb-4">Categories Section</h2>
      <div class="grid grid-cols-2 gap-4">
        <!-- Add your category cards here -->
        <div *ngFor="let category of categories" class="category-card bg-white p-4 rounded-lg shadow-md">
        <a (click)="loadCategoryPage(category.name)" routerLink="/gigs"><h3 class="text-lg font-semibold mb-2 text-center">{{category.name}}</h3></a>
          
        </div>
        
        <!-- Add more category cards as needed -->
      </div>
    </div>
  </section>
