<!-- nav bar starting-->
<app-navbar></app-navbar>
<!-- nav bar ending-->


<!-- card starting -->
<div *ngIf="user$ | async as user" class="flex">
  <div class="flex justify-end w-1/2 ">
    <div 
      class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow bg-white  mt-20 ">
      <div class="flex justify-end px-4 pt-4">
        
          

        <!-- Dropdown menu -->
        <div id="dropdown" [hidden]="!dropDown"
          class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <ul class="py-2" aria-labelledby="dropdownButton">
            <li>
              <a href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export
                Data</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col items-center pb-10">
        <img *ngIf="user.profilePic" class=" h-48 mb-3 rounded-full shadow-lg"
          src={{user.profilePic}} style="height: 200px;width: auto;" class="w-5 h-5"
          aria-hidden="true" xmlns="http://www.w3.org/2000/svg" alt="Bonnie image" />
        <img *ngIf="!user.profilePic" class=" h-48 mb-3 rounded-full shadow-lg"
          src="../../../../assets/img/default-user-image.svg" style="height: 200px;width: auto;" class="w-5 h-5"
          aria-hidden="true" xmlns="http://www.w3.org/2000/svg" alt="Bonnie image" />
        <h5 class="mb-1 text-xl font-medium text-gray-900 text-gray-600">{{user.name}}</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400 mb-3">@{{user.userName}}</span>
        <hr style=" display: block; width: 80%; height: 1px; background-color: #ccc;">
        <div class="w-full max-w-md  rounded-lg  p-6 mt-2">
          <ul>
            <li class="flex items-center justify-between mb-4">
              <span class="text-gray-400 mr-4">Email:</span>
              <span class="font-semibold text-gray-500">{{user.email}}</span>
            </li>
            <li class="flex items-center justify-between mb-4">
              <span class="text-gray-400 mr-4">Mobile Number:</span>
              <span class="font-semibold text-gray-500">{{user.mobileNumber}}</span>
            </li>
            <li class="flex items-center justify-between mb-4">
              <span class="text-gray-400 mr-4">From:</span>
              <span class="font-semibold text-gray-500">{{user.country}}</span>
            </li>
            <li class="flex items-center justify-between mb-4">
              <span class="text-gray-400 mr-4">Member since:</span>
              <span class="font-semibold text-gray-500">{{user.dateOfJoin | date}}</span>
            </li>
            <!-- Add more list items for other user attributes as needed -->
          </ul>
        </div>
        <div class="flex mt-4 space-x-3 md:mt-6">
          <button routerLink="/userEdit" type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">EDIT
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="w-1/2 flex justify-center pb-20" *ngIf="!user.isFreelancer">
    <div class="card w-96 bg-base-100 border border-black-600 mt-32 ">
      <figure><img src="../../../../assets/img/becomeAFreelancer.jpg" class="h-50" alt="Freeelancer image" /></figure>
      <div class="card-body ">
        <h1 class="card-title   flex justify-center text-2xl mt-4 mb-2"
          style="font-family: system-ui; font-weight: 500;">
          READY TO EARN?

        </h1>

        <div class="card-actions flex justify-center">
          <button type="button" routerLink="/freelanceOverview"
            class="rounded-full bg-green-500 px-6 pb-2 pt-2.5 text-md font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#14a44d] transition duration-150 ease-in-out hover:bg-green-600 hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:bg-success-600 focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:outline-none focus:ring-0 active:bg-success-700 active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(20,164,77,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)]">
            Become a Freelancer
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/2 flex justify-center pb-20" *ngIf="user.isFreelancer===true">
    <div class="card w-96 bg-base-100 border border-black-600 mt-32 ">
      <figure><img src="../../../../assets/img/switchToFreelancer.jpg" class="h-50" alt="Freeelancer image" /></figure>
      <div class="card-body ">
        <h1 class="card-title   flex justify-center text-2xl mt-4 mb-2"
          style="font-family: system-ui; font-weight: 500;">


        </h1>

        <div class="card-actions flex justify-center">
          <button type="button" routerLink="/freelancerDashboard"
            class="rounded-full bg-green-500 px-6 pb-2 pt-2.5 text-md font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#14a44d] transition duration-150 ease-in-out hover:bg-green-600 hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:bg-success-600 focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:outline-none focus:ring-0 active:bg-success-700 active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(20,164,77,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)]">
            SWITCH TO FREELANCER
          </button>
        </div>
      </div>
    </div>
  </div>
</div>