<app-navbar></app-navbar>

<div class="container flex ml-44">

  <ng-template #noData>
    <div class="flex text-center justify-center items-center w-full h-screen">
      <h1 class="text-4xl ">No Orders</h1>
    </div>
    
  </ng-template>

    <div *ngIf="dataSource.filteredData.length>0;else noData" class="flex-none w-full max-w-full px-3">
     
        <div 
          class="p-6 pb-0 mb-0 border-b-0 border-b-solid rounded-t-2xl border-b-transparent flex justify-between items-center">
          <div class="flex-grow text-center">
            <h3 class="text-black">Orders</h3>
          </div>
          
        </div>
        <div class="flex-auto px-0 pt-0 pb-2">
  
  
          <div>
  
  
            <div class="mat-elevation-z8 ">
              <table matSort mat-table [dataSource]="dataSource">
  
             
                <ng-container matColumnDef="Image">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let order"> <img src={{order.gigId.images[0]}} ></td>
                </ng-container>
  
  
                <ng-container matColumnDef="Gig">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef> Title </th>
                  <td mat-cell *matCellDef="let order"> {{order.gigId.title}} </td>
                </ng-container>
  
  
              
  
                <ng-container matColumnDef="Freelancer">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef> Freelancer  </th>
                  <td mat-cell *matCellDef="let order"> {{order.freelancer.name}} </td>
                </ng-container>
                <ng-container matColumnDef="DueOn">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Due Date </th>
                    <td mat-cell *matCellDef="let order"> {{ [order.date,order.deliveryTime]|dueDate|date}} </td>
                  </ng-container>
                  <ng-container matColumnDef="ReviewCountRemaining">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Remaining Reviews </th>
                    <td class="text-center "  *matCellDef="let order"> {{order.revision-order.revisionCount}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Status">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let order" >  <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" *ngIf="order.completed===true">{{order.completed|orderStatus}}</button>
                      <button class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"  *ngIf="order.completed===false">{{order.completed|orderStatus}}</button>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Details">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let order" > <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" (click)="openDetailsPage(order._id)" >Details</button>   </td>
                  </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  
  