<app-navbar></app-navbar>

<div class="grid grid-cols-12">
    <div class="col-span-8">

    </div>
    <div class="col-span-4">
      <div>
        <div class="flex photo">
            
        </div>
        <div class="flex plan">

        </div>
        <div  class="planDetails" >

        </div>
        <div class="serviceFee">

        </div>
        <div class="Total">

        </div>
        <div class="totalDeliveryTime">

        </div>
        <div>
            <button>Confirm</button>
        </div>
      </div>
    

    </div>
</div>