<section class="relative w-full h-full py-40 min-h-screen">
  <div class="absolute top-0 w-full h-full bg-blueGray-800 bg-full bg-no-repeat"
    style="background-image: url(../../../../assets/img/register_bg_2.png)"></div>
  <div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-4/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0">
          <div class="rounded-t mb-0 px-6 py-6">

            <hr class="mt-6 border-b-1 border-blueGray-300" />
          </div>
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <div class=" text-center mb-3 font-bold">
              <h2>Admin Login</h2>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onClick()">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  for="grid-password">Email</label>
                  <input formControlName="email" type="email"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Email" />
                  <div *ngIf="loginForm.controls['email'].errors">
                    <p *ngIf="submit&&loginForm.controls['email'].hasError('required')" class="text-red-500">Email is required</p>
                    <p *ngIf="loginForm.hasError('email')" class="text-red-500">Invalid format</p>
                  </div>
                  <p *ngIf="emailError"  class="text-red-500">Email is incorrect</p>
              </div>
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  for="grid-password">Password</label>
                  <input formControlName="password" type="password"  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Password" />
                  <div *ngIf="loginForm.controls['password'].errors">
                    <p *ngIf="submit&&loginForm.controls['password'].hasError('required')" class="text-red-500">Password Required</p>
                  </div>
                </div>
                <p *ngIf="passwordError"  class="text-red-500">Password is incorrect</p>
              <div>


              </div>
              <div class="text-center mt-6">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded " type="submit">
                  Sign In
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>