<section class="flex items-center justify-center py-24 lg:py-28 bg-black overflow-hidden min-h-screen">
    <div class="container px-4 mx-auto">
      <div class="max-w-3xl mx-auto">
        <h2 class="font-heading mb-4 text-6xl text-white tracking-tighter">Create a free account</h2>
        <p class="mb-16 text-xl text-white tracking-tight">Use and re-use tons of responsive sections too a main create the perfect layout. Sections are ready.</p>
        <form class="flex flex-wrap -m-3" action="#" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="w-full md:w-1/2 p-3">
            <label class="block">
              <input class="p-4 w-full text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200" id="name" type="text" placeholder="Full Name">
            </label>
          </div>
          <div class="w-full md:w-1/2 p-3">
            <label class="block">
              <input class="p-4 w-full text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200" id="userName" type="text" placeholder="User Name">
            </label>
          </div>
          <div class="w-full md:w-1/2 p-3">
            <label class="block">
              <input class="p-4 w-full text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200" id="email" type="email" placeholder="Email Address">
            </label>
          </div>
          <div class="w-full md:w-1/2 p-3">
            <label class="block">
              <input class="p-4 w-full text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200" id="mobileNumber" type="number" placeholder="Mobile Number">
            </label>
          </div>
          <div class="w-full md:w-1/2 p-3">
            <label class="block">
              <input class="p-4 w-full text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200" id="password" type="password" placeholder="Password">
            </label>
          </div>
          <div class="w-full md:w-1/2 p-3">
            <label class="block">
              <input class="p-4 w-full text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200" id="cpassword" type="password" placeholder="Confirm Password">
            </label>
          </div>
          <div class="w-full md:w-1/2 p-3">
            <label class="block">
              <input class="p-4 w-full text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200" id="country" type="text" placeholder="Country">
            </label>
          </div>
          <div class="w-full md:w-1/2 p-3">
            <label class="block">
              <select class="p-4 w-full text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200" name="gender" id="gender">
                <option hidden value="">-Select Gender-</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
               
              </select> 
            </label>
          </div>
          <div class="w-full md:w-1/2 p-3">
            <label class="block">
              <input class="p-4 w-full text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200" id="state" type="text" placeholder="State">
            </label>
          </div>
         


          <div class="w-full p-3">
            <div class="relative flex p-px bg-transparent overflow-hidden rounded-lg">
              <div class="inline-block">
                <input class="form-input opacity-0 absolute top-px z-10 h-5 w-5" id="signUpCheckbox1-1" type="checkbox" name="confirm" value="yes">
                <div class="mr-2.5 text-transparent border border-gray-500 w-5 h-5 relative top-px flex justify-center items-center rounded">
                  <svg class="w-2.5 h-2.5" width="9" height="7" viewbox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.604248 3.77081L2.68758 5.85415L7.89591 0.645813" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </div>
              </div>
              <label class="select-none text-gray-400 tracking-tight" for="signUpCheckbox1-1">
                <span>I agree to the</span>
                <a class="text-white hover:text-gray-200" href="#">Terms &amp; Conditions &amp; Privacy Policy</a>
              </label>
            </div>
          </div>
          <div class="w-full p-3">
            <a class="inline-block mb-7 px-5 py-4 w-full text-white text-center font-semibold tracking-tight bg-indigo-500 hover:bg-indigo-600 rounded-lg focus:ring-4 focus:ring-indigo-300 transition duration-200" href="#">Create Free Account</a>
            <span class="font-medium text-white tracking-tight">
              <span>Already have an account?</span>
              <a class="text-red-500 hover:text-red-700 transition duration-200" href="#">Sign In</a>
            </span>
          </div>
        </form>
      </div>
    </div>
  </section>