<!-- navbar starting -->
<app-freelancer-navbar></app-freelancer-navbar>
<!-- navbar ending -->

<!-- progression bar -->
<div class="mb-6 h-1 w-full bg-neutral-200 bg-neutral-600">
    <div class="h-1 bg-green-500" style="width: 95%"></div>
</div>
<!-- proression bar ending -->
<div class="flex justify-center">
    <h1 class="heading mb-8">PLEASE FILL THE FORM</h1>
</div>
<div class="flex justify-center">
    <form [formGroup]="freelancerForm" class="w-full max-w-4xl">


        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-8 gap-4 mb-6">
            <label class="uppercase tracking-wide text-gray-700 text-xs font-bold mt-3 col-span-1">
                Skills:
            </label>
            <input (keyup)="onType($event.target)"
                class="col-span-1 md:col-span-4  appearance-none w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                id="grid-first-name" type="text" placeholder="Enter your skill">

            <div class="col-span-1 md:col-span-2">
                <div>
                    <select (change)="onSelect($event.target)"
                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-state">
                        <option selected hidden>Level</option>
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Expert">Expert</option>
                    </select>
                </div>
            </div>
            <div class="col-span-1 md:col-span-1">
                <button type="button" (click)="skillAdd()"
                    class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-3 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Add</button>
            </div>
           
        </div>
        <div formArrayName="skills" class="my-5 flex flex-row grid grid-cols-2 ">
            <ng-container *ngFor="let skill of skills.controls; let i = index"m>
                <div  [formGroupName]="i" class="mb-8">
                    <span class="bg-gray-100 text-gray-800 text-md font-medium mr-2 rounded-full dark:bg-gray-700 dark:text-gray-300 p-4">{{getSkillAndValue(i)}} <fa-icon [icon]="faXmarkCircle" (click)="deleteSkill(i)"></fa-icon></span>
                
                </div>

        </ng-container>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-8 gap-4 mb-6 ">
            <label class=" uppercase tracking-wide text-gray-700 text-xs font-bold mt-3 col-span-1">
                Languages:
            </label>
            <div class=" md:col-span-4">
                <select
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 "
                    id="grid-state">
                    <option selected hidden>Job</option>
                    <option>Digital Marketing</option>
                    <option>Graphics & Design</option>
                    <option>Writing & Translation</option>
                    <option>Business</option>
                    <option>Programming & Tech</option>
                    <option>Music & Audio</option>
                    <option>Video & Animation</option>
                    <option>Data</option>
                    <option>Photography</option>
                    <option>Lifestyle</option>
                </select>
            </div>
            <div class="col-span-1 md:col-span-2">
                <div class="">
                    <select
                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-state">
                        <option selected hidden>Level</option>
                        <option>Beginner</option>
                        <option>Intermediate</option>
                        <option>Expert</option>
                    </select>
                </div>
            </div>
            <div class="col-span-1 md:col-span-1">
                <button type="button"
                    class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-3 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Add</button>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-8 gap-4 mb-6">
            <label class="uppercase tracking-wide text-gray-700 text-xs font-bold mt-3">
                Occupation:
            </label>

            <div class=" md:col-span-4">
                <select
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 "
                    id="grid-state">
                    <option selected hidden>Job</option>
                    <option>Digital Marketing</option>
                    <option>Graphics & Design</option>
                    <option>Writing & Translation</option>
                    <option>Business</option>
                    <option>Programming & Tech</option>
                    <option>Music & Audio</option>
                    <option>Video & Animation</option>
                    <option>Data</option>
                    <option>Photography</option>
                    <option>Lifestyle</option>
                </select>
            </div>

            <div class=" mt-3 sm:mt-0 sm:ml-3 md:col-span-1">
                <select
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-state">
                    <option selected hidden>From</option>
                    <option>Beginner</option>
                    <option>Intermediate</option>
                    <option>Expert</option>
                </select>
            </div>

            <div class=" mt-3 sm:mt-0 sm:ml-3">
                <select
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-state">
                    <option selected hidden>To</option>
                    <option>Beginner</option>
                    <option>Intermediate</option>
                    <option>Expert</option>
                </select>
            </div>
            <div class="col-span-1 md:col-span-1">
                <button type="button"
                    class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mt-3 sm:mt-0 sm:ml-3 mb-3 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Add</button>
            </div>
        </div>


        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-10 gap-4 mb-6 ">
            <label class=" uppercase tracking-wide text-gray-700 text-xs font-bold mt-3 ml-3">
                Education:
            </label>

            <div class=" ml-4 md:col-span-3">
                <select
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 ml-3"
                    id="grid-state">
                    <option selected hidden>Country</option>
                    <option>Digital Marketing</option>
                    <option>Graphics & Design</option>
                    <option>Writing & Translation</option>
                    <option>Business</option>
                    <option>Programming & Tech</option>
                    <option>Music & Audio</option>
                    <option>Video & Animation</option>
                    <option>Data</option>
                    <option>Photography</option>
                    <option>Lifestyle</option>
                </select>
            </div>
            <div class="w-full md:col-span-4 px-3 ">

                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-last-name" type="text" placeholder="College Name">
            </div>
            <div class="  md:col-span-2 mr-7">
                <select
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 ml-3"
                    id="grid-state">
                    <option selected hidden>Title</option>
                    <option>Beginner</option>
                    <option>Intermediate</option>
                    <option>Expert</option>
                </select>

            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mb-6">
            <div class=" md:col-4 px-3 ml-7">

                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-last-name" type="text" placeholder="Major">
            </div>
            <div class=" ml-4 mt-4  ">
                <select
                    class="block appearance-none w-1/8 bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 ml-3"
                    id="grid-state">
                    <option selected hidden>From</option>
                    <option>Beginner</option>
                    <option>Intermediate</option>
                    <option>Expert</option>
                </select>

            </div>
            <div class=" ml-4 mt-4">
                <select
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 ml-3"
                    id="grid-state">
                    <option selected hidden>To</option>
                    <option>Beginner</option>
                    <option>Intermediate</option>
                    <option>Expert</option>
                </select>

            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-10 gap-4 mb-6">
            <label class=" uppercase tracking-wide text-gray-700 text-xs font-bold mt-3 ml-3 col-span-1">
                Certification:
            </label>
            <input
                class=" col-span-1 md:col-span-3 appearance-none block bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 ml-8 leading-tight focus:outline-none focus:bg-white"
                id="grid-first-name" type="text" placeholder="Certification Name">
            <input
                class="col-span-1 md:col-span-3  appearance-none  block bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 ml-4 leading-tight focus:outline-none focus:bg-white"
                id="grid-first-name" type="text" placeholder="Certified From">
            <div class=" ml-4 col-span-1 md:col-span-2">
                <select
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500  -ml-3"
                    id="grid-state">
                    <option selected hidden>Year</option>
                    <option>Beginner</option>
                    <option>Intermediate</option>
                    <option>Expert</option>
                </select>

            </div>
            <div class="col-span-1 md:col-span-1 -ml-3">
                <button type="button"
                    class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-3 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Add</button>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-10 gap-4 mb-6">
            <label class=" uppercase tracking-wide text-gray-700 text-xs font-bold mt-3 ml-3">
                Description:
            </label>
            <textarea
                class="md:col-span-8 appearance-none max-w-4xl row block bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 ml-8 leading-tight focus:outline-none focus:bg-white"
                id="grid-first-name" rows="5" cols="70" placeholder="Enter the description">
                </textarea>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6 ">
            <label class=" uppercase tracking-wide text-gray-700 text-xs font-bold mt-3 ml-3">
                Personal Website:
            </label>
            <input
                class="appearance-none  block w-1/2 bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 ml-4"
                id="grid-last-name" type="text" >
        </div>
        <div class="flex flex-wrap -mx-3 mb-6 ml-9">
            <label class=" uppercase tracking-wide text-gray-700 text-xs font-bold mt-3 ml-3">
                Instagram:
            </label>
            <input
                class="appearance-none block w-1/2 bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 ml-4"
                id="grid-last-name" type="text" placeholder="Major">
        </div>
        <div class="flex flex-wrap -mx-3 mb-6 ml-10">
            <label class=" uppercase tracking-wide text-gray-700 text-xs font-bold mt-3 ml-3">
                Facebook:
            </label>
            <input
                class="appearance-none block w-1/2 bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 ml-4"
                id="grid-last-name" type="text" placeholder="Major">
        </div>
        <div class="flex flex-wrap -mx-3 mb-6 ml-12">
            <label class=" uppercase tracking-wide text-gray-700 text-xs font-bold mt-3 ml-3">
                Twitter:
            </label>
            <input
                class="appearance-none block w-1/2 bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 ml-4"
                id="grid-last-name" type="text" placeholder="Major">
        </div>
    </form>
</div>