<div class="bg-black min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg">
        <h2 class="font-heading mb-4 text-6xl text-black tracking-tighter text-center">Reset Password</h2>
        <form  class=" flex-wrap -m-3">
            <div class="w-full  p-3">
                <label for="newPassword" class="block text-gray-700 text-sm font-bold mb-2">New Password</label>
                <input placeholder="Enter the new password"
                    class="w-full px-4 py-2 text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200">
                    <label for="confirmPassword" class="block text-gray-700 text-sm font-bold mb-2">Confirm Password</label>
                    <input placeholder="Enter the new password"
                        class="w-full px-4 py-2 text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200">
             
                    <!-- <div *ngIf="emailForm.controls['email'].errors">
                    <p *ngIf="submit&&emailForm.controls['email'].hasError('required')" class="text-red-500">Email is
                        required</p>
                    <p *ngIf="emailForm.controls['email'].hasError('email')" class="text-red-500">Invalid format</p>
                </div>
                <p *ngIf="emailError" class="text-red-500">Email is incorrect</p>
                <div>
                </div> -->

            </div>
            <button type="submit"
                class="inline-block mb-7 px-5 py-4 w-full text-white text-center font-semibold tracking-tight bg-indigo-500 hover:bg-indigo-600 rounded-lg focus:ring-4 focus:ring-indigo-300 transition duration-200 ">Reset Password</button>


        </form>
    </div>
</div>