<!-- navbar starting -->
<app-freelancer-navbar></app-freelancer-navbar>
<!-- navbar starting -->

<div class="mb-6 h-1 w-full bg-neutral-200 dark:bg-neutral-600">
    <div class="h-1 bg-green-500" style="width: 25%"></div>
  </div>
<div class="flex">


    <div class="w-1/2 flex justify-end mt-20">
        <div>
            <div
                class="w-full max-w-xl  p-6 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                <div class="flex items-center justify-between mb-4">
                    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Are you ready to embark on
                        your
                        journey as a freelancer on<span class="text-xl text-green-500"> Skill Mingle</span>? Here's a step-by-step breakdown to guide you along the
                        way:
                    </h5>

                </div>
                <div class="flow-root">
                    <ul role="list" class="divide-y divide-gray-200 divide-gray-700">
                        <li class="py-3 sm:py-4">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="../../../../assets/img/brain.png"
                                        alt="Neil image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                        Understand the Secrets of Success:

                                    </p>
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                        Learn what makes a successful Fiverr profile by studying the best practices and
                                        strategies.
                                    </p>
                                </div>

                            </div>
                        </li>
                        <li class="py-3 sm:py-4">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="../../../../assets/img/note.png"
                                        alt="Bonnie image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                        Master the Do's and Don'ts:
                                    </p>
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                        Discover the essential do's and don'ts to ensure you stay on the path to success
                                        while offering your services.
                                    </p>
                                </div>

                            </div>
                        </li>
                        <li class="py-3 sm:py-4">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="../../../../assets/img/paint.png"
                                        alt="Michael image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                        Craft Your Seller Profile
                                    </p>
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                        Create an attractive and engaging seller profile. Add a professional profile
                                        picture, write a captivating description, and include all relevant professional
                                        information.
                                    </p>
                                </div>

                            </div>
                        </li>
                        <li class="py-3 sm:py-4">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="../../../../assets/img/pc.png"
                                        alt="Lana image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                        Showcase Your Skills with Gigs:
                                    </p>
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                        Publish your Gigs showcasing the services you are offering. Let the world know
                                        about
                                        your expertise and talents.
                                    </p>
                                </div>

                            </div>
                        </li>
                        <li class="pt-3 pb-0 sm:pt-4">
                            <div class="flex items-center space-x-4">
                                <div class="flex-shrink-0">
                                    <img class="w-8 h-8 rounded-full" src="../../../../assets/img/money(1).png"
                                        alt="Thomas image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                        Start Selling Instantly
                                    </p>
                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                        Once your Gigs are live, you can begin receiving orders and selling your
                                        services to
                                        a global audience.
                                    </p>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex justify-end mt-10 " >
                <button type="button" routerLink="/freelanceOverview/do"
                    class="inline-block rounded-full bg-green-500 px-6 pb-2 pt-2.5 text-md font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#14a44d] transition duration-150 ease-in-out hover:bg-green-600 hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:bg-success-600 focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:outline-none focus:ring-0 active:bg-success-700 active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(20,164,77,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)]">
                    Continue
                </button>
            </div>
        </div>

    </div>
    <div class="w-1/2 ">
        <div class="mt-28 ml-20">
            <img src="../../../../assets/img/freelanceOverviewPic.svg" style="height: 400px;">
        </div>
    </div>

</div>