<div class="bg-black min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg">
      <h2 class="font-heading mb-4 text-6xl text-black tracking-tighter">Login</h2>
      <form [formGroup]="loginForm" class=" flex-wrap -m-3" (ngSubmit)="onSubmit()">
        <div class="w-full  p-3">
          <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
          <input formControlName="email" type="email" id="email" name="email" placeholder="Enter your email"
            class="w-full px-4 py-2 text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200">
        <div *ngIf="loginForm.controls['email'].errors">
          <p *ngIf="submit&&loginForm.hasError('required')" class="text-red-500">Email is required</p>
          <p *ngIf="loginForm.hasError('pattern')" class="text-red-500">Invalid format</p>
          <p *ngIf="emailError"  class="text-red-500">Password is incorrect</p>
        </div>
          </div>
        
        <div class="w-full  p-3">
          <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
          <input type="password" formControlName="password" id="password" name="password" placeholder="Enter your password"
            class="w-full px-4 py-2 text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200">
            <div *ngIf="loginForm.controls['password'].errors">
              <p *ngIf="submit&&loginForm.controls['password'].hasError('required')" class="text-red-500">Password Required</p>
              <p *ngIf="passwordError"  class="text-red-500">Password is incorrect</p>
            </div>
          </div>
        <div class="w-full p-3">
          <button type="submit"
            class="inline-block mb-7 px-5 py-4 w-full text-white text-center font-semibold tracking-tight bg-indigo-500 hover:bg-indigo-600 rounded-lg focus:ring-4 focus:ring-indigo-300 transition duration-200">Login</button>
          <div  >  <a routerLink="/loginWithOTP" class=" hover:text-red-700 transition duration-200">Login with OTP</a></div>
            <span class="font-medium text-gray-600 tracking-tight">
            Don't have an account? <a routerLink="/signup" class="text-red-500 hover:text-red-700 transition duration-200">Sign Up</a>
            
          </span>
        </div>
      </form>
    </div>
    </div>