<div class="absolute w-full bg-blue-500 dark:hidden min-h-75"></div>
<!-- sidenav  -->
<app-sidebar></app-sidebar>

<!-- end sidenav -->

<main class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68 rounded-xl">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- end Navbar -->

  <div class="flex flex-wrap mt-6 -mx-3 justify-center items-center">
    <div class="w-full max-w-full px-3 mt-0 lg:w-7/12 lg:flex-none">

      <!-- Your content goes here -->



      <div class="flex flex-wrap -mx-3">
        <div class="flex-none w-full max-w-full px-3">
          <div
            class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <div
              class="p-6 pb-0 mb-0 border-b-0 border-b-solid rounded-t-2xl border-b-transparent flex justify-between items-center">
              <div class="flex-grow text-center">
                <h6 class="dark:text-white">USERS</h6>
              </div>
             
            </div>
            <div class="flex-auto px-0 pt-0 pb-2">
           

              <!--  -->
              <div>
                <div class="mat-elevation-z8">
                <table matSort mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="Name">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let user">{{user.name}}</td>
                  </ng-container>
                  <ng-container matColumnDef="User Name">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef>Username</th>
                    <td mat-cell *matCellDef="let user">{{user.userName}}</td>
                  </ng-container>
                 
                  <ng-container matColumnDef="Email">
                  
        
                    <th mat-sort-header mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let user">{{user.email}}</td>
                  </ng-container>

                  <ng-container matColumnDef="More Details">
                    <th mat-header-cell *matHeaderCellDef></th>
        
                    <td mat-cell *matCellDef="let user">                  
                      <button (click)="openMoreInfoModal(user._id)" type="button" class="mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">More Info</button>
                    </td>
                  </ng-container>
                       
                  <ng-container matColumnDef="blockAndUnblock">
                    <th mat-header-cell *matHeaderCellDef></th>
        
                    <td mat-cell *matCellDef="let user">  <button *ngIf="user.isBlocked===true" (click)="unblockUser(user._id)"  type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Blocked</button>                         
                      <button *ngIf="user.isBlocked===false" (click)="blockUser(user._id)" type="button" class="text-red-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-900">Unblocked</button>                         
                      
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row;columns:displayedColumns"> </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
        
              </div>
        

              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>